#contentPanel.ui-layout-pane {
    padding: 0 !important;
    border: none !important;
    overflow: hidden;
    color: #00ce00
}

#canvas.ui-layout-pane {
    padding: 0 !important;
    background: transparent url(canvas.png) !important;
}

#canvas.ui-layout-pane.readonly {
    background: transparent url(canvas_readonly.png) !important;
}

#menuPanel #controlPanel {
    float: right;
}

#menuPanel #controlButton {
    font-size: 0.8em;
    width: 150px;
}

#menuPanel #controlStatusMsg {
    text-align: center;
    font-size: 0.8em;
    margin: 0.3em 0 0;
}