#canvasWrapper.ui-layout-pane {
    padding: 0 !important;
}

#canvasWrapper.ui-layout-pane #canvas {
    background: transparent url(canvas.png) !important;
}

#canvasWrapper.ui-layout-pane #canvas.readonly {
    background: transparent url(canvas_readonly.png) !important;
}