#canvasWrapper {
    padding: 0 !important;
}

#canvasWrapper {
    background: transparent url(../img/canvas.png) !important;
}

#canvasWrapper.readonly {
    background: transparent url(../img/canvas_readonly.png) !important;
}