.icn {
    background: url(../img/sprites.png) no-repeat;
    display: inline-block;
}

.icn-comment12{
    background-position: -18px -316px ;
    width: 12px;
    height: 12px;
}

.icn-database16{
    background-position: -17px -265px ;
    width: 16px;
    height: 16px;
}

.icn-folder16{
    background-position: -17px -214px ;
    width: 16px;
    height: 16px;
}

.icn-key16{
    background-position: -18px -164px ;
    width: 16px;
    height: 16px;
}

.icn-pointer24{
    background-position: -14px -62px ;
    width: 24px;
    height: 24px;
}

.icn-table16{
    background-position: -22px -116px ;
    width: 16px;
    height: 16px;
}

.icn-table24{
    background-position: -13px -9px ;
    width: 24px;
    height: 24px;
}
