.icon-database16, .icon-folder16, .icon-pointer24, .icon-table16, .icon-table24, .icon-minus14, .icon-plus14 {
    background: url(../img/sprites.png) no-repeat;
}

.icon-database16{
    background-position: -16px -216px ;
    width: 16px;
    height: 16px;
}

.icon-folder16{
    background-position: -19px -165px ;
    width: 16px;
    height: 16px;
}

.icon-pointer24{
    background-position: -14px -62px ;
    width: 24px;
    height: 24px;
}

.icon-table16{
    background-position: -22px -116px ;
    width: 16px;
    height: 16px;
}

.icon-table24{
    background-position: -13px -9px ;
    width: 24px;
    height: 24px;
}

.icon-minus14{
    background-position: -17px -317px ;
    width: 14px;
    height: 14px;
}

.icon-plus14{
    background-position: -15px -265px ;
    width: 14px;
    height: 14px;
}
