<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/json2.js"></script>
    <script type="text/javascript" src="/static/js/socket.io.min.js"></script>
    <script type="text/javascript">
        $(function() {
            var socket = io.connect('http://localhost:5000/models');

            $(window).bind("beforeunload", function() {
                socket.disconnect();
            });

            socket.on('connect', function () {
                message('System', 'Connected');
                socket.emit('connect', 1, 1);
            });

            socket.on('reconnect', function () {
                message('System', 'Reconnected.')
            });

            socket.on('reconnecting', function () {
                message('System', 'Reconnecting...')
            });

            socket.on('error', function (e) {
                alert(e);
            });

            socket.on('reload', function(model) {
                var model_repr = JSON.stringify(model, 4);
                $('#model').append('<p>' + model_repr + '</p>');
            });

            function message (from, msg) {
                $('#status').append('<p><b>' + from + ':</b> <i>' + msg + '</i></p>');
            }
        })
    </script>
</head>
<body>
<div id="model"></div>
<div id="status"></div>
</body>
</html>