<!DOCTYPE html>
<html>
<head>
    <title>Model</title>

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='repo/libs/jquery-ui-1.8.23/themes/base/jquery-ui.css') }}"
          type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ url_for('static', filename='repo/libs/bootstrap/css/bootstrap.min.css') }}"
          type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ url_for('static', filename='repo/libs/bootstrap-slider/css/slider.css') }}"
          type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ url_for('static', filename='repo/src/css/application.css') }}"
          type="text/css" media="screen, projection">

    <script type="text/javascript" src="{{ url_for('static', filename='repo/libs/jquery-1.8.1.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='repo/libs/jquery-ui-1.8.23/ui/minified/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='repo/libs/LAB.min.js') }}"></script>

    <script type="text/javascript">
        $(function () {
            $LAB
                    .script("{{ url_for('static', filename='repo/libs/class-extend.js') }}")
                    .script("{{ url_for('static', filename='repo/libs/json2.js') }}")

                    .script("{{ url_for('static', filename='repo/libs/socket.io.min.js') }}")

                    .script("{{ url_for('static', filename='repo/libs/jquery-1.8.1.js') }}")
                    .script("{{ url_for('static', filename='repo/libs/jquery-ui-1.8.23/ui/minified/jquery-ui.min.js') }}")
                    .script("{{ url_for('static', filename='repo/libs/jquery-buttonsetv.js') }}")
                    .script("{{ url_for('static', filename='repo/libs/jquery.layout.js') }}")
                    .script("{{ url_for('static', filename='repo/libs/jquery.simplemodal.1.4.4.min.js') }}")
                    .script("{{ url_for('static', filename='repo/libs/jquery.jeditable.js') }}")
                    .script("{{ url_for('static', filename='repo/libs/jquery.cookie.js') }}")
                    .script("{{ url_for('static', filename='repo/libs/bootstrap/js/bootstrap.min.js') }}")
                    .script("{{ url_for('static', filename='repo/libs/bootstrap-slider/js/bootstrap-slider.js') }}")
                    .script("{{ url_for('static', filename='repo/libs/jstree/jquery.jstree.js') }}")

                    .script("{{ url_for('static', filename='repo/libs/gojs/go.js') }}")


                    .script("{{ url_for('static', filename='repo/src/databasy/packages.js') }}")

                    .script("{{ url_for('static', filename='repo/src/databasy/utils/socket.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/utils/preloader.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/utils/events/Observer.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/utils/events/Event.js') }}")

                    .script("{{ url_for('static', filename='repo/src/databasy/model/core/serializing.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/model/core/nodes.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/model/core/checkers.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/model/core/datatypes.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/model/core/elements.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/model/core/models.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/model/core/reprs.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/model/core/commands.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/model/core/events.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/model/core/actions.js') }}")

                    .script("{{ url_for('static', filename='repo/src/databasy/model/postgres/models.js') }}")

                    .script("{{ url_for('static', filename='repo/src/databasy/model/register.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/model/utils.js') }}")


                    .script("{{ url_for('static', filename='repo/src/databasy/ui/Layout.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/ui/MenuPanel.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/ui/Toolbar.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/ui/gojs/Canvas.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/ui/gojs/DiagramModel.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/ui/gojs/Template.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/ui/property/PropertyPanel.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/ui/property/TablePropertyPanel.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/ui/general/GeneralPanel.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/ui/general/SchemaTreePanel.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/ui/general/OverviewPanel.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/ui/utils.js') }}")


                    .script("{{ url_for('static', filename='repo/src/databasy/gateway/Gateway.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/gateway/Context.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/gateway/CommandQueue.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/gateway/Runtime.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/gateway/RuntimeStub.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/gateway/ModelRole.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/gateway/Service.js') }}")

                    .script("{{ url_for('static', filename='repo/src/databasy/gateway/events/RuntimeChanged.js') }}")
                    .script("{{ url_for('static', filename='repo/src/databasy/gateway/events/ModelChanged.js') }}")


                    .wait(function () {
                        try {
                            databasy.utils.preloader.openPreloader(true);
                            new databasy.gateway.Gateway({{ model_id }});
                        }
                        catch (error) {
                            console.log(error);
                        }
                    });
        });
    </script>
</head>
<body>
</body>
</html>